require("css!./stylesheet.css")
html {
  background-image: url('http://images.all-free-download.com/images/graphiclarge/gorgeous_stage_background_04_hd_picture_169913.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%
}

body {
  background-image: url('http://images.all-free-download.com/images/graphiclarge/gorgeous_stage_background_04_hd_picture_169913.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%
}
.lobby {
  text-align: left;
}

.lobbyLabels {
  padding: 0px 15px 0px 15px;
}

.numberOfUsers {
  display: inline-block;
  width: 20%;
}

.leaderbutton {
  display: inline-block;
  width: 20%;
}

.toggleDisplayLink{
  text-align: right;
  display: inline-block;
  width: 15%;
}

#imgsize{
  height: 50px;
  width: 50px;
}
a:hover {
  color: #999 !important;
}

.scoreWrap {
  background-color: white;
  color: black;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.playerAvi {
  display: inline-block;
  width: 5%;
  margin-left: -30%;
}

.scoreAvi {
  display: inline-block;
  width: 5%;
  float:left;
}

.playerName {
  font-size: 1.2em;
  display: inline-block;
  width: 45%;
}

.playerScore {
  display: inline-block;
  text-align: right;
  width: 10%;
  padding-left: 5%;
}

.scoreHeader {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding-left: 5%;
}

#users {
  float: left;
  height: 100%;
  width: 20%
}

.curuseravi {
  display: inline-block;
  float:left;
  width: 40%;
}

.curusername {
  margin:right 15%;
  font-size: .7em;
  display: inline-block;
  width: 10%;
}

.userwrap {
  float:left;
  height: 100%;
  background: #f7f7f7;
}

.currentavi{
  float:right;
  margin:auto;
}

.currentname{
  margin:auto;
}

.name{
  text-align: center;
}

.currentuser{
  margin:auto;
  height: 40%;
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color:black;
  border-bottom-style: solid;
}

.loggedin{
  margin:auto;
  margin-top:10%;
}

.leaderwrapper{
  float: right;
  width: 25%;
}

.gamewrapper{
  margin-left:25%;
  margin-right:25%;
  height: 1000px;
  padding: 10px;
}

.mixedgame {
  background-image: url('https://cdn.shopify.com/s/files/1/0013/7332/products/5_bc439036-4f21-47ff-9fbb-bf57faf5c18c_1024x1024.jpg?v=1419048096');
  background-size: 100%;
  background-repeat: no-repeat;
  height:33%;
  width:100%
}
 
.speechroom {
  background-image: url('http://wpmedia.news.nationalpost.com/2015/08/republican-debate-2015.jpg?quality=65&strip=all');
  background-size: 100%;
  background-repeat: no-repeat;
  height:33%;
  width:100%;
  text-align: center;
  vertical-align: center;
}

.musicroom {
  background-image: url('http://wallpaper.zone/img/5008582.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height:33%;
  width:100%
}

.gamebutton {
  color: white;
  background-color: black;
  border: 3px solid white;
  font-size: 1em;
  font-weight: 800;
  border-radius: 6px;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  transition: ease-in-out 150ms;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.myButton:active {
  position:relative;
  top:1px;
}

.answer-buttons {
  width: 80%;
  margin: 0 auto;
}

.score-text {
  color: white;
  font-size: 24px;
}